<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.admanager.news">


    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.NewsActivity"
            android:label="@string/adm_news_title"
            android:theme="@style/NewsAppTheme" />


    </application>

</manifest>