<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.admanager.utils">

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">


        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.admanager.utils.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/adm_provider_paths_utils" />
        </provider>
    </application>

</manifest>
