<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admanager.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".FullScreenNativeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>
