<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admanager.popupenjoy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">

    </application>

</manifest>
