<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.admanager.speedtest">


    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SpeedTestActivity"
            android:label="@string/speed_test"
            android:theme="@style/SpeedTestAppTheme" />


    </application>

</manifest>